<div class="city_header">
	<div class="city_hub_banner">
		<img class="img-responsive" src="{{ content['image_url'] }}" alt="" alt="{{ content.image_data['0']['alt'] }}" />
		<h3>{{ content['title']|raw }}</h3>
	</div>
	<div class="top_description">
		<h1>{{ content['city_title']|raw|upper }}</h1>
		<p>{{ content['city_text']|raw }}</p>
	</div>
</div>