<p>{{ content[0]|raw }}</p>

<hr/>
<ul class="dropdown">
	{% for value in content %}
		
		Title:: {{ value.title[0].value }}
		Title:: {{ value.title[0].value }}
		
		{% for k, val in value %}
			<li>{{ k }} - <strong>{{ val[0].value }}</strong></li>
		{% endfor %}
	{% endfor %}
</ul>
<hr/>
